.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
}

.header {
  padding-bottom: 64px;
  width: 65%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.desktop_characterWrapper {
  min-height: 500px;
  position: fixed;
  top: 20%;
  left: 50%;
  bottom: 5%;
}

.desktop_controlColumn {
  position: relative;
  width: 50%;
}

.mobile_characterWrapper {
  display: none;
  min-height: 500px;
  top: 20%;
  bottom: 5%;
}

.mobile_controlColumn {
  display: none;
  position: relative;
  overflow: auto;
  bottom: 40%;
}

.perspectiveElem {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40%;
  background-color: hsl(195deg, 20%, 86%);
}

@media (max-width: 730px) {
  .perspectiveElem {
    display: none;
  }

  .desktop_characterWrapper {
    display: none;
  }

  .desktop_controlColumn {
    display: none;
  }

  .mobile_characterWrapper {
    display: block;
  }

  .mobile_controlColumn {
    display: flex;
  }

  .characterEditor {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .header {
    width: 100%;
    padding: 8px 8px 0;
  }
}
